.flex{
  display:flex;
  justify-content: space-between;
}

.flex div{
  width: 45%;
  /* background-color: palegreen; */
}

.loginimage{
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto ;
  background-color: azure;
  height: 100vh;
}

.loginimage img{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  border-radius: 7px;
} 